#header4-1 H1 {
  color: #ffffff;
}
#features1-16 P {
  text-align: center;
  font-size: 14px;
  color: #9e9e9e;
}
#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-i .navbar-toggler {
  color: #000;
}
#ext_menu-l .navbar-toggler {
  color: #000;
}
#ext_menu-19 .navbar-toggler {
  color: #000;
}
#ext_menu-1w .navbar-toggler {
  color: #000;
}
#ext_menu-20 .navbar-toggler {
  color: #000;
}
#ext_menu-24 .navbar-toggler {
  color: #000;
}
#ext_menu-28 .navbar-toggler {
  color: #000;
}
#ext_menu-2a .navbar-toggler {
  color: #000;
}
#ext_menu-2e .navbar-toggler {
  color: #000;
}
